body {
    background-color: rgb(30, 38, 56);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5vw;
}

h1 {
    text-align: center;
    color: crimson;
    font-size: 5vw;
}

h2{
    font-size: 2.5vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
  }


#villainBurger{
    height: 35%;
    width: 35%;
}
  
.button{
    background-color: rgb(30, 38, 56);
    color: crimson;
    margin: 5px;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5vw;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.card{
    text-align: center;
    background-color: rgb(105, 124, 160);
    border-radius: 5px;
    margin: 2.5%;
    padding: 1%;
    color: rgb(118, 10, 15);
    font-family: "Times New Roman", Times, serif;
    height: max-content;
}
.topCard{
    float: left;
    width: 40%;
    padding-bottom: 15px;
}

.summoningCard{
    float: center, bottom;
}